.link-info__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 40;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.link-info__text:hover::before {
    opacity: 1;
}